@import "tailwindcss";

/* Здесь можно добавить свои кастомные стили, если нужно */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000; /* Обычно для Mini App ставят темный или системный фон */
  color: #ffffff;
}

/* Скрытие скроллбара, чтобы приложение выглядело как нативное */
::-webkit-scrollbar {
  display: none;
}